<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="UntilsConn" connectionString="server=127.0.0.1;uid=sa;pwd=sa123;database=BZORM;Pooling=true;Max Pool Size=40000;Min Pool Size=0;Connection Lifetime=300;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <appSettings>
      <add key="WebDAL" value="Untils_DALSQLServer" />
    </appSettings>
</configuration>
